2013-07-citibike-tripdata.csv
2013-08-citibike-tripdata.csv
2013-09-citibike-tripdata.csv
2013-10-citibike-tripdata.csv
2013-11-citibike-tripdata.csv
2013-12-citibike-tripdata.csv
2014-01-citibike-tripdata.csv
2014-02-citibike-tripdata.csv
2014-03-citibike-tripdata.csv
2014-04-citibike-tripdata.csv
2014-05-citibike-tripdata.csv
2014-06-citibike-tripdata.csv
2014-07-citibike-tripdata.csv
2014-08-citibike-tripdata.csv
2014-09-citibike-tripdata.csv
2014-10-citibike-tripdata.csv
2014-11-citibike-tripdata.csv
2014-12-citibike-tripdata.csv
2015-01-citibike-tripdata.csv
2015-02-citibike-tripdata.csv
2015-03-citibike-tripdata.csv
2015-04-citibike-tripdata.csv
2015-05-citibike-tripdata.csv
2015-06-citibike-tripdata.csv
2015-07-citibike-tripdata.csv
2015-08-citibike-tripdata.csv
2015-09-citibike-tripdata.csv
2015-10-citibike-tripdata.csv
2015-11-citibike-tripdata.csv
2015-12-citibike-tripdata.csv
2016-01-citibike-tripdata.csv
2016-02-citibike-tripdata.csv
2016-03-citibike-tripdata.csv
2016-04-citibike-tripdata.csv
2016-05-citibike-tripdata.csv
2016-06-citibike-tripdata.csv
201402_station_data.csv
201402_trip_data.csv
201402_weather_data.csv
201408_station_data.csv
201408_trip_data.csv
201408_weather_data.csv
201508_station_data.csv
201508_trip_data.csv
201508_weather_data.csv
NYC Weather Data Old.csv
NYC Weather Data.csv
Output Files/nyc_merged_data.csv
Output Files/nyc_merged_data_shortened.csv
Output Files/sf_merged_data.csv
